{% extends 'base.html'%}


{% block content %}
       <h1> <center>Cadastro de Clientes</center></h1>
       <hr>
       <a class="btn btn-success" href="{% url 'cliente_add' %}">ADICIONAR</a>
       <a class="btn btn-success" href="{% url 'home' %}">MENU INICIAL</a>
       <table class="table table-striped">
          <thead>
            <tr>
              <th>id</th>
                <th>nome</th>
                <th>endereço</th>
                <th>telefone</th>
                <th>cpf</th>
                <th>ações</th>
            </tr>
          </thead> 
          <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{cliente.id}}</td>
                <td>{{cliente.nome}}</td>
                <td>{{cliente.endereço}}</td>
                <td>{{cliente.telefone}}</td>
                <td>{{cliente.cpf}}</td>
                <td>
                    <a class="btn btn-warning" href="{% url 'cliente_edit' cliente.id %}">EDITAR</a>
                    <a class="btn btn-danger" href="{% url 'cliente_delete' cliente.id %}">EXCLUIR</a>
                </td>
            </tr>
            {% endfor %}
          </tbody> 
        </table> 
    </div> 
</div>         
           
{% endblock %}