{%extends 'base.html'%}

{%block content%}
<h1> <center>CONTRATO</center></h1>
       <hr>
       <a class="btn btn-success" href="{% url 'agendamento_add' %}">ADICIONAR</a>
       <a class="btn btn-success" href="{% url 'home' %}">MENU INICIAL</a>
       <table class="table table-striped">
          <thead>
             <tr>
                <th>cliente</th>
                <th>plano</th>
                <th>barba</th>
                <th>cortes</th>
                <th>metodo Pag</th>
                <th>status pag</th>
                <th>observação</th>
                <th>ações</th>
            </tr>
          </thead> 
          <tbody>
            {% for agendamento in agendamentos %}
            <tr>
                <td>{{agendamento.id_cliente}}</td>
                <td>{{agendamento.id_plano}}</td>
                <td>{{agendamento.id_plano.barba}}</td>
                <td>{{agendamento.id_plano.corte}}</td>
                <td>{{agendamento.metodoPgto}}</td>
                <td>{{agendamento.statusPgto}}</td>
                <td>{{agendamento.observacao}}</td>
                <td>
                    <a class="btn btn-warning" href="{% url 'agendamento_edit' agendamento.id %}">EDITAR</a>
                    <a class="btn btn-danger" href="{% url 'agendamento_delete' agendamento.id %}">DELETAR</a>
                </td>
            </tr>
            {% endfor %}
          </tbody> 
        </table> 
    </div> 
</div>        
{%endblock%}