{% extends 'base.html'%}


{% block content %}
       <h1> <center>AGENDA</center></h1>
       <hr>
       <a class="btn btn-success" href="{% url 'agenda_add' %}">ADICIONAR</a>
       <a class="btn btn-success" href="{% url 'home' %}">MENU INICIAL</a>
       <table class="table table-striped">
          <thead>
            <tr>
                <th>id</th>
                <th>cliente</th>
                <th>plano</th>
                <th>serviço</th>
                <th>barba</th>
                <th>cabelo</th>

                <th>ações</th>
            </tr>
          </thead> 
          <tbody>
            {% for agenda in agendas %}
            <tr>
                <td>{{agenda.id}}</td>
                <td>{{agenda.cliente.nome}}</td>
                <td>{{agenda.plano.plano}}</td>
                {% if agenda.plano.plano == 'Barba' %}
                    {% if corte == 0 %}
                        {% if agenda.plano.barba > 0 %}
                            {% with agenda.plano.barba|add:"-1" as novo_valor %}
                                {% if novo_valor == 0 %}
                                    <td>Você não tem esse serviço</td>
                                {% else %}
                                    <td>Restam {{ novo_valor }} sessões de barba</td>
                                {% endif %}
                            {% endwith %}
                        {% endif %}
                    {% endif %}
                {% endif %}

                <td>{{agenda.servico}}</td>
                <td>{{agenda.plano.barba}}</td>
                <td>{{agenda.plano.corte}}</td>
                <td>
                    <a class="btn btn-warning">EDITAR</a>
                    <a class="btn btn-danger">EXCLUIR</a>
                </td>
            </tr>
            {% endfor %}
          </tbody> 
        </table> 
    </div> 
</div>         
           
{% endblock %}