{% extends 'base.html'%}


{% block content %}
       <h1> <center>AGENDA</center></h1>
       <hr>
       <a class="btn btn-success" href="{% url 'agenda_add' %}">ADICIONAR</a>
       <a class="btn btn-success" href="{% url 'home' %}">MENU INICIAL</a>
       <table class="table table-striped">
          <thead>
            <tr>
                <th>cliente</th>
                <th>plano</th>
                <th>serviço</th>
                <th>barba</th>
                <th>cabelo</th>

                <th>ações</th>
            </tr>
          </thead> 
          <tbody>
            {% for agenda in agendas %}
            <tr>
                <td>{{agenda.cliente.nome}}</td>
                <td>{{agenda.plano.plano}}</td>
                <td>{{agenda.servico}}</td>
                <td>{{agenda.plano.barba}}</td>
                <td>{{agenda.plano.corte}}</td>
                <td>
                    <a class="btn btn-warning" href="{% url 'agenda_edit' agenda.id %}">EDITAR</a>
                    <a class="btn btn-danger" href="{% url 'agenda_delete' agenda.id %}">EXCLUIR</a>
                </td>
            </tr>
            {% endfor %}
          </tbody> 
        </table> 
    </div> 
</div>         
           
{% endblock %}